* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body {
  margin: 0;
  padding: 70px 0px;
}

#profile-picture {
  border-radius: 100%;
}
#container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  width: 100%;
  top: 0;
  position: fixed;
}
#back-btn {
  font-size: xx-large;
  transform: rotate(180deg);
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

#back-btn:hover {
  transition: 2s;
  translate: 10px;
}
.g-btn {
  margin: 0px 10px !important;
}
#docs-btn {
  font-size: x-large;
  background: none;
  cursor: pointer;
  color: white;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}
#docs-btn:hover {
  transition: 1s;
  scale: 1.25;
}
.p-head {
  width: 100%;
  color: white;
  margin-left: 10px;
}
#navigate-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.navigate-card {
  display: flex;
  justify-content: space-between;
  background-color: black;
  width: 40%;
  margin: 10px;
  padding-left: 10px;
  color: white;
  border-radius: 7px;
}
.navigate-card a {
  font-size: xx-large;
  color: white;
  background-color: grey;
  padding: 10px;
}
.functions-div {
  background-color: antiquewhite;
  border: 1px solid rgb(252, 209, 153);
  padding: 5px;
  width: 35%;
}
.functions-div ul li {
  margin-bottom: 5px;
}
.functions-div h4 {
  text-align: center;
}
#dp {
  margin-top: 10px;
  padding: 10px;
  border: 1px dotted blue;
  border-radius: 10px;
  text-align: center;
  width: 350px;
}

#btn-group {
  display: flex;
  margin-top: 30px;
}
#btn-group button {
  border-radius: 10px;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
}
#btn-group button:hover {
  background-color: blue;
  color: white;
}
#profile-cname-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: grey;
  position: absolute;
}
#profile-color-picker {
  background: none;
  border: none;
  width: 30px;
  height: 20px;
}
footer {
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
  padding: 10px;
  position: fixed;
  bottom: 0;
}
footer p {
  padding: 0;
  line-height: 5px;
  font-size: small;
}
#profile-name-change {
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 10px;
}

@media screen and (max-width: 420px) {
  #dp {
    width: 250px;
  }
  #profile-cname {
    font-size: x-small;
  }
  .p-head {
    font-size: small;
  }
  .navigate-card {
    width: 60%;
  }
  .navigate-card h3 {
    font-size: small;
  }
  .navigate-card a {
    font-size: large;
  }
  .functions-div {
    width: 55%;
  }
  #btn-group {
    flex-wrap: wrap;
    justify-content: center;
  }
}
