* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#profile-picture {
  border-radius: 100px;
}
#container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#dp {
  margin-top: 10px;
  padding: 10px;
  border: 1px dotted blue;
  border-radius: 10px;
  text-align: center;
  width: 350px;
}

#btn-group {
  margin-top: 30px;
}
#btn-group button {
  border-radius: 10px;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
}
#btn-group button:hover {
  background-color: blue;
  color: white;
}
.w-initials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  flex-direction: column;
}
.w-initials label {
  font-size: small;
}
#profile-cname {
  background: none;
  border: none;
  cursor: pointer;
  color: grey;
  position: absolute;
}
.w-initials-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.w-initials-container input {
  background: none;
  border: none;
  cursor: pointer;
}
#color-picker-container {
  display: none;
  align-items: center;
}
#profile-name-control {
  display: none;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 420px) {
  #dp {
    width: 250px;
  }
  #profile-cname {
    font-size: x-small;
  }
}
